version: "3.9"

services:
  postgres-server:
    image: postgres:16
    environment:
      - POSTGRES_DB=postgres
      - POSTGRES_USER=user
      - POSTGRES_PASSWORD=pass
    ports:
      - "5433:5432"   # dev container 外部から接続したい場合
    volumes:
      - aikata-check-web-dev-db-data:/var/lib/postgresql/data

volumes:
  aikata-check-web-dev-db-data:
